<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Create Product</title>
</head>

<body>
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${productList}">
            <td th:text="${product.getName()}">1</td>
            <td th:text="${product.getPrice()}">Text ...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>