<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Order List</title>
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="order : ${orderList}">
            <td th:text="${order.getAddressId()}">1</td>
            <td th:text="${order.getAmount()}">Text ...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>